<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrum</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <ul class="ht"> <!--Sección del título y el logo de la UNID-->
            <li>
                <img class="imgt" src="../images/icons/logo_unid.png" alt="logo_unid">
            </li>
            <li>
                <h1 class="t1"><a href="../Index.html">Metodologías ágiles</a></h1>
            </li>
        </ul>
        <nav class="btnp"> <!--Botones para elegir páginas (views)-->
            <ul>
                <li>
                    <a href="#"><b>Scrum</b></a>
                </li>
                <li>
                    <a href="../views/kanban.html"><b>Kanban</b></a>
                </li>
                <li>
                    <a href="../views/xp.html"><b>XP</b></a>
                </li>
                <li>
                    <a href="../views/lean.html"><b>Lean</b></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        

    </main>
    <footer>


    </footer>
</body>
</html>