<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XP - Extreme Programming</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <ul class="ht"> <!--Sección del título y el logo de la UNID-->
            <li>
                <img class="imgt" src="../images/icons/logo_unid.png" alt="logo_unid">
            </li>
            <li>
                <h1 class="t1"><a href="../Index.html">Metodologías ágiles</a></h1>
            </li>
        </ul>
        <nav class="btnp"> <!--Botones para elegir páginas (views)-->
            <ul>
                <li>
                    <a href="../views/scrum.html"><b>Scrum</b></a>
                </li>
                <li>
                    <a href="../views/kanban.html"><b>Kanban</b></a>
                </li>
                <li>
                    <a href="#"><b>XP</b></a>
                </li>
                <li>
                    <a href="../views/lean.html"><b>Lean</b></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="xp1">
            
            <h1>Extreme Programming (XP)</h1>
            <p>La programación extrema (XP) es una metodología ágil de gestión de proyectos que se centra en la velocidad y la simplicidad con ciclos de desarrollo cortos. Esta metodología se basa en 5 valores, 5 reglas y 12 prácticas de programación. Si bien tiene una estructura rígida, el resultado de estos sprints altamente centrados y las integraciones continuas buscan dar como resultado un producto de mayor calidad.</p>
            
        </section>
        
        <hr>

        <section class="xp2">

            <img src="../images/XP.jpeg" alt="xp" width="800px" class="xpi">
            <h2>¿Quién desarrolló la programación extrema?</h2>
            <p>Los orígenes de XP se remontan a fines de la década de 1990, cuando Kent Beck la creó para gestionar el desarrollo de un sistema de software de nómina para Chrysler llamado Proyecto C3. El objetivo al implementar la programación extrema era (y sigue siendo) eliminar la resistencia a cambiar el código en un proyecto de desarrollo.</p>
            
            <hr>

            <h2>¿Cuándo deberías implementar la Programación Extrema?</h2>
            <ul>
                <li><strong>Para equipos pequeños:</strong> Funciona mejor con menos de diez personas debido a su naturaleza altamente colaborativa.</li>
                <li><strong>Contacto constante con clientes:</strong> Incorpora los requisitos del cliente durante todo el proceso y depende de ellos para pruebas y aprobaciones.</li>
                <li><strong>Equipos flexibles y sin resentimientos:</strong> Requiere que el equipo acepte cambios drásticos, como descartar trabajo, y permita que cualquier miembro realice modificaciones sin que se tome como algo personal.</li>
                <li><strong>Dominio técnico de la codificación:</strong> No es para principiantes, ya que exige la capacidad de trabajar e implementar cambios rápidamente.</li>
            </ul>  
            
            <hr>

            <h2>Los 5 valores de la Programación Extrema (XP)</h2>
            <ul>
                <li><strong>Simplicidad:</strong> Se prioriza encontrar el proceso más simple que funcione. La atención se centra en realizar primero el trabajo más importante, buscando proyectos sencillos que se sepa que se pueden lograr.</li>
                <li><strong>Comunicación:</strong>La Programación Extrema (XP) requiere una comunicación rápida, abierta y honesta. Cuando surgen problemas, se espera que todo el equipo aporte ideas y colabore, ya que resolverán el problema más rápido como grupo.</li>
                <li><strong>Comentarios:</strong> Se produce trabajo rápidamente para obtener comentarios casi inmediatos de los clientes, con quienes se está en contacto constante. Se lanzan versiones con regularidad para recibir información frecuente y adaptar el proceso (no el proyecto) según esos comentarios.</li>
                <li><strong>Valentía:</strong> Se requiere valentía para ser honesto sobre el progreso, asumiendo la responsabilidad por los fallos sin excusas. El equipo se enfoca en el éxito (definido por el líder) y se adapta a los cambios que surjan, en lugar de planificar para el fracaso.</li>
                <li><strong>Respeto:</strong> Es esencial para que la comunicación y la honestidad funcionen. Los equipos deben poder discrepar con amabilidad. Exige respeto mutuo entre clientes y desarrolladores, entre los propios miembros del equipo, y reconocer el valor que aporta cada uno.</li>
            </ul>

            <hr>

        </section>

        <section class="xpi2">

            <img src="../images/mai-1280x720.jpg" alt="">
            <img src="../images/XP.jpeg" alt="">

        </section>

        <hr>

         <h2 class="tcde">Casos de éxito</h2>

        <section class="xpcde">


            <div>
              <iframe src="" frameborder="0"></iframe>
              <p><strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</strong></p>
            </div>

            <div>
              <iframe src="" frameborder="0"></iframe>
              <p><strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</strong></p>
            </div>
            
            <div>
              <iframe src="" frameborder="0"></iframe>
              <p><strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</strong></p>
            </div>

            <div>
              <iframe src="" frameborder="0"></iframe>
              <p><strong>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</strong></p>
            </div>
            
        </section>
        
    </main>

    <footer>
        
        <section>
            <h3>Desarrollado por:</h3>
            <div>
                <h4><a href="mailto:00912159@red.unid.mx">Sergio Ricardo Leal García</a></h4>
                <h4><a href="mailto:">Victoria Isabella González Ponce</a></h4>
                <h4><a href="">José Moisés Rodriguez Aguilar</a></h4>
                <h4><a href="">Braulio Andrey Coyoc Toraya</a></h4>
            </div>
        </section>

    </footer>
</body>
</html>
